@mixin fc {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin fsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: fit-content;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px #333;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}
button {
  background: #000;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;

  &:hover {
    background: #006988;
  }
}
.max,
.img {
  max-width: 80%;
  margin: 0 auto;
}
.img {
  margin-top: 50px;
  position: relative;
  cursor: pointer;
}
.img img {
  max-width: 100%;
  height: auto;
  transition: 0.5s;

  &:hover {
    transform: scale(1.02);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 45px;
}
.grid {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
}
.grid2 {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px auto;
}
.grid-item {
  justify-self: center;
  align-self: center;
}
.column {
  text-align: left;

  .title {
    margin: 30px 0;
  }
  ul {
    margin: 20px 0;
    li {
      margin: 10px 0;
      list-style-type: circle;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.bg {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(#efefef, #cef261);
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
nav {
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  @include fsb();
  background: linear-gradient(#fff, transparent);

  .logo {
    cursor: pointer;

    i {
      font-size: 1.5rem;
    }
  }

  ul {
    @include fc();
    transition: 0.5s;

    li {
      list-style: none;

      a {
        color: #000;
        text-decoration: none;
        padding: 5px 15px;
        transition: 0.5s;
        margin: 0 5px;

        &:hover {
          background: #fff;
          border-radius: 5px;
        }
      }
    }
  }
}
.chat {
  position: fixed;
  bottom: 12%;
  right: 2%;
  z-index: 100;
}

.container {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 0;
  button {
    margin-top: 20px;
  }
}
.title {
  margin: 10px 0;
}
.description {
  font-size: 3rem;
  margin: 20px 0;
}
.text {
  margin: 10px 0;
}

.decoration {
  background: #006988;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
  box-shadow: 0 5px 10px #333;

  .answer {
    text-align: center;
    background: #fff;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 5px 10px #333;

    .user {
      margin-top: 20px;
      @include fc();
      flex-direction: column;
      text-align: center;

      .me {
        width: 75px;
        margin-right: 10px;
        img {
          max-width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }
    }
    .small {
      font-size: 12px;
    }

    .detail {
      text-align: center;
    }
  }
}

footer {
  background: #000;
  color: #fff;
  padding: 20px 0;
  .max {
    @include fsb();

    .social a {
      font-size: 1.5rem;
      margin: 0 10px;
      cursor: pointer;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #009688;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#menu i {
  font-size: 2rem;
}
#menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid {
    max-width: 100%;
  }
  .grid2 {
    grid-template-columns: 1fr;
  }
  .grid-item {
    justify-self: center;
  }
  .card {
    margin: 20px 0;
  }
  .column {
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    background: #cef261;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: -500%;
    right: 2%;
    box-shadow: 0 5px 10px #333;

    li {
      margin: 20px 0;
    }
  }
  #menu {
    display: block;
  }
  .description {
    font-size: 1.7rem;
  }
}
@media (max-width: 650px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .description {
    font-size: 1.5rem;
  }
  .title {
    font-size: 0.8rem;
  }
  .decoration {
    grid-template-columns: 1fr;
  }
  footer .max {
    flex-direction: column;

    .copyright {
      margin-bottom: 10px;
    }
  }
}
.list.show {
  top: 100%;
}
